<div *ngIf="organization$ | async">
  <volontulo-organization-details *ngIf="organization$ | async as organization"
  [organization]="organization"
  [isUserOrgMember]="isUserOrgMember$ | async">
</volontulo-organization-details>
<volontulo-organization-contact
  *ngIf="!(isUserOrgMember$ | async)"
  (contact)="onContact($event)"
  [contactStatus]="contactStatus$ | async">
</volontulo-organization-contact>
<volontulo-organization-offers-list
  [user]="user$| async"
  [offers]="offers$ | async"
  [isUserOrgMember]="isUserOrgMember$ | async">
</volontulo-organization-offers-list>
</div>