.container{
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.card{
    margin: 15px;
    box-shadow: 5px 5px 5px #f0f4f8;
    border-radius: 5px;
}

.card-text{
    padding: 15px;
}

.card-header{
    background: #f0f4f8;
}

.help{
    background: #d62854;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.btn{
    background: #fff;
    color: #242424;
    padding: 10px;
}