.header{
    position: relative;
    overflow: hidden;
    height: 300px;
}

.header img{
    position: absolute;
}

.header-panel {
    margin: 15px;
    float: left;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(67, 74, 84, 0.2);
}

.header-panel p{
    padding: 5px;
    line-height: 29px;
    font-size: 24px;
    font-weight: 700;
    color: #F5F7FA;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0px 1px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(0, 0, 0, 0.6);
}

.card{
    margin: 15px;
    box-shadow: 5px 5px 5px #f0f4f8;
    border-radius: 5px;
  }
  