<div class="container" *ngIf="offer$ | async as offer">
    <h1>{{ offer.title }}</h1>
    <div class="heading-wrapper">
        <img class="d-block img-fluid" src="{{ offer.image }}" alt="{{ offer.title }}">
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <h3 class="card-header">{{ offer.title }}</h3>
            <div class="card-block">
                <p class="card-text">{{ offer.description }}
                    <!-- TODO: restore the link for users who can edit the offer when permission check implemented in the frontend <a href="{% url 'offers_edit' offer.title|slugify offer.id %}" class="btn btn-default btn-sm">-->
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edytuj ofertę
                </p>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">Lokalizacja</h3>
            <div class="card-block">
                <p class="card-text"><span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span> {{ offer.location }}</p>
            </div>
        </div>
        <div class ="card">
            <h3 class="card-header">Data</h3>
                <p class="card-text"><span aria-hidden="true" class="glyphicon glyphicon-time"></span> {{ offer.startedAt | date:'shortDate' }} - {{ offer.finishedAt | date:'shortDate' }}</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <h3 class="card-header">Korzyści dla wolontariusza</h3>
            <p class="card-text">{{ offer.benefits }}</p>
        </div>
        <div class="card">
                <h3 class="card-header">Wymagania wobec wolontariusza</h3>
                <p class="card-text">{{ offer.requirements }}</p>
        </div>
        <div class="card">
                <h3 class="card-header">Zaangażowanie czasowe</h3>
                <p class="card-text">{{ offer.timeCommitment }}</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">  
        <div class="card">
            <div class="help">
                <h2>Możesz pomóc?</h2><br>
                Twoja pomoc jest ważna.<br>
                <b><h3>Potrzebujemy Ciebie!</h3></b><br>
                <a class="btn btn-lg btn-block" href="{{ getDjangoViewUrl(offer) }}">Zgłoś się na ten wolontariat</a>
            </div>
        </div>
        <div class="card">
                <h3 class="card-header">Rekrutacja trwa</h3>
                <p class="card-text">Rekrutacja trwa do: {{ offer.recruitmentEndDate | date:'shortDate' }}</p>
        </div>
        <div class="card">
                <h3 class="card-header">Organizator</h3>
                <p class="card-text">{{ offer.organization.name }}</p>
        </div>
    </div>
    </div>
</div>